# Server Configuration
PORT=8000
NODE_ENV=development
CORS_ORIGIN=*

# PostgreSQL Configuration
DATABASE_URL=postgresql://postgres:password@localhost:5432/blazecrawl

# Redis Configuration
REDIS_URL=redis://localhost:6379

# Auth Configuration
JWT_SECRET=supersecret
FRONTEND_URL=http://localhost:3000

# AWS S3 / Cloudflare R2 Configuration
AWS_REGION="auto"
AWS_ENDPOINT=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET_NAME=""

